backend/.DS_Store
backend/.env
backend/mongocryptd.pid
backend/logs
backend/mongo_*
backend/node_modules
backend/docs
backend/customer-master-key.txt
backend/api/auth/*
backend/lib/

frontend/.env*
frontend/node_modules
frontend/.next
logs/
backend/config/dev.js
